.log-tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  color: whitesmoke;
  font-size: 13pt;
}

.log-tracker__item {
  margin-bottom: 20px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  width: auto;
  border-style: solid;
  border-color: green !important;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  padding: 1rem 1rem;
  color: whitesmoke;
}

.log-tracker__item__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  color: whitesmoke;
}

.fas fa-check-circle {
  color: green;
}

.log-tracker__item__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  color: whitesmoke;
}
